body {
    text-align: center;
    background-image: url('/static/img/battle_bg_grass.jpg');
    color: #E3DFD6;
}

.row {
    text-align: center;
    width: 100%;
    clear: both;
    height: 200px;
}

.battle_team_row {
    text-align: center;
    width: 100%;
    clear: both;
    height: 100px;
}

.row {
    height: 100%;
}

.f_pokemon:hover {
    border: 3px solid deepskyblue;
}

#battle_sight {
    height: 300px;
}

#battle_window {
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}

.poke_status {
    height: 50%
    margin-top: 50px;
}

#my_poke_energy {
    display: inline-block;
    float: right;
    height: 30%;
    width: 60px;
    margin-top:50px;
}

#condition_myP {
    color: red;
    font-weight: bold;
    font-size: 28px;
    float: left;
}

#condition_enP {
    color: red;
    font-weight: bold;
    font-size: 16px;
    float: left;
    display: inline-block
}

#animation {
    display: inline-block;
    margin-top:15px;
    height: 50%;
}

.ani {
    display: none;
    max-width:100%;
    max-height:100%;
}

#enemy_poke_energy {
    display: inline-block;
    height: 30%;
    width: 60px;
    margin-top: 100px;
}

#enemy_pokemon {
    display: inline-block;
    width: 190px;
}

#my_pokemon {
    position: relative;
    margin-top: 48px;

}

#enemy_choice {
    margin-top: 100px;
}

#condition_enP {
    display: inline-block;
    float: right;
    height: 15%;
}

#discription {
    height: 100px;
    width: 380px;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

#battle_team {
    background-color: rgba(191, 135, 86, 0.6);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#my_battle_mode {
    background-color: transparent;
    border: none;
    border-radius: 0px;
    width: 300px;
    height: 300px;
}

#enemy_battle_mode {
    background-color: transparent;
    display: inline-block;
    border: none;
    border-radius: 0px;
    width: 180px;
    height: 180px;
}

#attack {
    display: none;
}

#after_battle_win {
    display: none;
}

#after_battle_lose {
    display: none;
}

.botton_left_side {
    margin-top: 70px;
}

.botton_right_side {
    margin-top: 110px;
}