body {
    text-align: center;
}

.battle_row {
    text-align: center;
    width: 100%;
    clear: both;
    height: 200px;
}

.row {
    height: 100%;
}

#battle_window {
    border: 1px solid black;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}

.poke_status {
    height: 50%
    margin-top: 50px;
}

#my_poke_energy {
    border: 1px solid black;
    display: inline-block;
    margin-top:50px;
    height: 30%;
}

#condition_myP {
    border: 1px solid black;
    display: inline-block;
    float: left;
    height: 15%;
}

#animation {
    border: 1px solid black;
    display: inline-block;
    margin-top:15px;
    height: 50%;
}

.ani {
    display: none;
    max-width:100%;
    max-height:100%;
}

#enemy_poke_energy {
    border: 1px solid black;
    display: inline-block;
    margin-top:50px;
    height: 30%;
}

#condition_enP {
    border: 1px solid black;
    display: inline-block;
    float: right;
    height: 15%;
}

#discription {
    border: 1px solid black;
    height: 100px;
    width: 380px;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

#attack {
    display: none;
}