body {
    font-family: arial;
    background: #FFF0F0;

}

.home_pic {
    height: 300px;
    width: 400px;
    background-image: url('/static/img/home_pokemon.jpg');
    opacity: 0.2;
    margin: 20px;
}

#pokemon {
    margin-top: -20px;
    height: 580px;
    background-size: contain;
    background-image: url('/static/img/pokemon.jpg');
}

#pokemon h1 {
    text-shadow: 2px 2px darkblue;
    color: darkcyan;
    font-family: Brush Script MT, sans-serif;
}

#bodylayout {
    margin-left: 50px;
    margin-right: 50px;
}

#team {
    display: none;
    margin: 20px;
    margin-top: 100px;
    background-color: #80FF80;
    text-align: center;
    height:270px;
    padding-top: 10px;
    border-radius: 50px;
}

#empty_up {
    height: 40px;
}

#dialog_oak {
    margin-top: 150px;
    display: none;
}

#dialog_ppl {
    margin-top: 180px;
}

#dialog2 {
    height: 220px;
    width: 272px;
    background-image: url('/static/img/dialog2.png');
    background-size: contain;
    padding-top: 30px;
    padding-left: 35px;
    font-size: 18px;
    float: left;
    display: none;
}

#dialog {
    height: 192px;
    width: 297px;
    background-image: url('/static/img/dialog.png');
    padding-top: 40px;
    padding-left: 50px;
    font-size: 24px;
    float: right;
    opacity: 0.2;
}

.pokebox {
    padding-top: 15px;
    display: inline-block;
}
.pokemon {
    border: 1px solid black;
    border-radius: 40%;
    background-color: white;
    margin: 3px;
    width: 150px;
    height:150px;
}

.middlebox {
    width: 700px ;
    margin-left: auto ;
    margin-right: auto ;
}

#throw {
    display: none;
}

#throw_text {
    display: none;
    font-size: 36px;
    color: lightblue;
    text-shadow: 2px 2px blue;
}

#save {
    display: none;
}

#start_battle {
    display: none;
}

#all_team{
    text-align: center;
    height: 220px;
}

#footer {
    text-align: center;
    width: 520px;
    margin-left: auto;
    margin-right: auto;
    height: 220px;
}

#your_pokemons {
    background: lightcyan;
    border-radius: 15px;
}

.f_pokemon {
    border: 1px solid black;
    margin: 1px;
    width: 80px;
    height: 80px;
    background: white;
    border-radius: 40%;
}