{% extends 'base_template.html' %}
{% block title %}
    faq
{% endblock title %}



{% block content %}
    <h1>FAQ!</h1>
    <hr>


    <h3>Q1. Hell ya?</h3>
    <p>A: Hit! Hit! Hit! Hit! Hit! Hit! Hit! Hit! Hit! Hit! Hit! Hit! Hit! Hit! Hit! Hit! Hit! Hit!
    Hit! Hit! Hit! Hit! Hit! Hit! Hit! Hit! Hit! Hit! Hit! Hit! Hit! Hit! Hit! Hit! Hit! Hit!
    Hit! Hit! Hit! Hit! Hit! Hit! Hit! Hit! Hit! Hit! Hit! Hit! Hit! Hit! Hit! Hit! Hit! Hit!
    Hit! Hit! Hit! Hit! Hit! Hit! Hit! Hit! Hit! Hit! Hit! Hit! Hit! Hit! Hit! Hit! Hit! Hit!
    Hit! Hit! Hit! Hit! Hit! Hit! Hit! Hit! Hit! Hit! Hit! Hit! Hit! Hit! Hit! Hit! Hit! Hit! </p>


{% endblock content %}