{% extends 'base_template.html' %}
{% load staticfiles %}

{% block title %}
    <link type="text/css" href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{% static 'js/index.js' %}"></script>
{% endblock title %}

{% block content %}
    <h1 align="center">Arcade Game</h1>
    <div style="display:inline;">
        <a class="home_pic" href="{% url 'pokemon' %}"><img src="{% static "img/home_pokemon.jpg" %}"></a>
    </div>

    <div style="display:inline;">
        <a class="home_pic" href="{% url 'home' %}"><img src="{% static "img/home_snake.jpg" %}"></a>
    </div>

    <div style="display:inline;">
        <a class="home_pic" href="{% url 'home' %}"><img src="{% static "img/home_paint.jpg" %}"></a>
    </div>


    <a href="{% url 'pokemon_battle' %}">Battle</a>
{% endblock content %}