{% extends 'base_template.html' %}
{% load staticfiles %}
{% block content %}

    <div align="right">
        <h3>Delete Team?</h3>
        <select id="deletebox">

        </select>
        <button id="deletecheck">Delete It</button>
    </div>

    <div align="center">
        <h1>Catch pokemon(s)!</h1>

        <button id="pokeOne">Random One</button>
        <button id="pokeTeam">Random Team</button>
        <button id="pokemy">My Fav Team</button>
        <div id="team">
            <div id="sprites">
            </div>
        </div>
        <button id="save">Save pokemon(s)</button>
    </div>

    <div id="footer">
        <h1 id="all">All your pokemons</h1>
        <div id="your_pokeTeam"></div>
    </div>


{% endblock content %}


