{% extends 'base_template.html' %}
{% load staticfiles %}

{% block content %}
    <h1 align="center">Arcade Game</h1>
    <div style="display:inline;">
        <a class="home_pic" href="{% url 'pokemon' %}"><img src="{% static "img/home_pokemon.jpg" %}"></a>
    </div>

    <div style="display:inline;">
        <a class="home_pic" href="{% url 'home' %}"><img src="{% static "img/home_snake.jpg" %}"></a>
    </div>

    <div style="display:inline;">
        <a class="home_pic" href="{% url 'home' %}"><img src="{% static "img/home_paint.jpg" %}"></a>
    </div>
{% endblock content %}