{% extends 'base_template.html' %}
{% load staticfiles %}


{% block title %}

    <link type="text/css" href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/battle.css' %}">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{% static 'js/battle.js' %}"></script>

{% endblock title %}

{% block content %}




{#battle system#}
    <h1>pokemon battle!</h1>


{#battle window#}
    <div class="battle_row">
        <div class="col-md-2"></div>
        <div id="my_pokemon" class="col-md-2"></div>
        <div id="battle_window" class="col-md-4">
            <div class="row poke_status">
                <div  class="col-md-4">
                    <div class="row">
                        <div id="my_poke_energy"></div>
                    </div>
                    <div id="condition_myP"></div>
                </div>
                <div id="animation" class="col-md-4">
                    <img id="battle_my_icon" class="ani" src="{% static "img/battle_my_icon.png" %}">
                    <img id="battle_enemy_icon" class="ani" src="{% static "img/battle_enemy_icon.png" %}">
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div id="enemy_poke_energy"></div>
                    </div>
                     <div id="condition_enP"></div>

                </div>

            </div>

        </div>
        <div id="enemy_pokemon" class="col-md-2"></div>
    </div>
    <div id="discription" class=col-md-4""></div>

    <button id="attack">attack</button>
    <div id="after_battle_win">
        <p>Yeah! Catch the pokemon?</p>
        <button id="catch_yes">Sure!</button>
        <button id="catch_no">I don't like it...</button>
    </div>
    <button id="after_battle_lose">lol ...try again?</button>


{#show my pokemons#}
    <h3 id="all">Team</h3>
    <div class="battle_team_row">
        <div class="col-md-3">
                <div id="my_choice">Please select your pokemons</div>
        </div>
        <div id="battle_team" class="col-md-6"></div>
        <div class="col-md-3">
                <button id="enemy_choice" class="btn btn-danger">Search in the wild</button>
        </div>
    </div>

{#link back#}
    <div align="right">
        <p><a href="{% url 'pokemon_lab' %}">Pokemon Lab</a></p>
        <p><a href="{% url 'profile' %}">Show Me the Pokedex world</a></p>
    </div>

{% endblock content %}