{% extends 'base_template.html' %}
{% load staticfiles %}


{% block content %}
    <div id="bodylayout">
        <div align="right">
            <h3>Delete Team?</h3>
            <select id="deletebox">

            </select>
            <button id="deletecheck">Delete It</button>
        </div>

        <div align="center">
            <h1>Catch pokemon(s)!</h1>

            <button id="pokeOne" class="btn btn-info">Random One</button>
            <button id="pokeTeam" class="btn btn-info">Random Team</button>
            <button id="pokemy" class="btn btn-info">My Fav Team</button>

            <div id="team">
                <div id="sprites">
                </div>
                <div id="throw">
                    <span><i>Throw ~~</i></span>
                    <img src="{% static "img/throw_pokemon_ball.gif" %}">
                    <span><i>Poke Ball!</i></span>
                </div>
                <br>
                <button id="save" class="btn btn-warning">Save pokemon(s)</button>
            </div>

        </div>


        <div id="footer">
            <h3 id="all">Select Your Teams</h3>
            <div id="your_pokeTeam"></div>
            <div id="your_pokemons"></div>
        </div>
        <div align="right">
            <a href="{% url 'pokemon_battle' %}">Start Battle!</a>
        </div>
    </div>

{% endblock content %}


