{% extends 'base_template.html' %}
{% load staticfiles %}

{% block title %}
    <link type="text/css" href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{% static 'js/index.js' %}"></script>
{% endblock title %}


{% block content %}
    <div id="bodylayout">
        <div class="row">
            <div class="col-md-2">
                <div id="pikachu_icon"></div>
                <br>
                <p style="color: orangered">Press Team Button!</p>
                <br>
                <div class="battle_start" align="center"></div>
            </div>
            <div id="all_team" class="col-md-8">
                <h2 style="color: blue" id="all">Select Your Team</h2>
                <p style="color: darkred">Max Member : <span class="glyphicon glyphicon-user"></span><span class="glyphicon glyphicon-user"></span><span class="glyphicon glyphicon-user"></span><span class="glyphicon glyphicon-user"></span><span class="glyphicon glyphicon-user"></span><span class="glyphicon glyphicon-user"> /team</span></p>
                <div id="team_show" align="center"></div>

            </div>



            <div class="col-md-2">
                <img id='dialog_ppl' src="{% static 'img/ash.png' %}">
                <button class="btn btn-primary" id="gotoNewGame">Start New Team</button>
            </div>
        </div>

    </div>

{% endblock content %}


