{% extends 'base_template.html' %}
{% load staticfiles %}


{% block content %}
    <div id="bodylayout">
        <h1>pokemon battle!</h1>

        <div id="upper_battle">
            <div></div>
            <div id="lower_battle"></div>
        </div>


        <div id="footer">
            <h3 id="all">Select Your Teams</h3>
            <div id="your_pokeTeam"></div>
            <div id="your_pokemons"></div>
        </div>
        <div align="right">
            <p><a href="{% url 'pokemon_catch' %}">I Want to Start Again</a></p>
            <p><a href="{% url 'profile' %}">Show Me the Pokedex world</a></p>
        </div>
    </div>

{% endblock content %}