{% extends 'base_template.html' %}
{% load staticfiles %}

{% block title %}
    <link type="text/css" href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{% static 'js/index.js' %}"></script>
{% endblock title %}


{% block content %}

    <div id="pokemon">
        <div class="container" align="center">
            <h1><b><i>Pokemon world!</i></b></h1>
            <p>
                <button id="load_game" style="opacity: 0.6" class="btn btn-default"><i>Load Game</i></button>
                <button id="new_game" style="opacity: 0.6" class="btn btn-default"><i>New Game</i></button>
            </p>
        </div>
    </div>

{% endblock content %}