{% extends 'base_template.html' %}
{% load staticfiles %}

{% block title %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
{% endblock title %}

{% block content %}
    <div class="container">
        <h1 align="center">Profile</h1>
        <hr>
           <div class="padding">
            <div class="full col-sm-9">

                <!-- content -->
                <div class="row">

                 <!-- main col left -->
                <div class="col-sm-1">
                </div>

                  <!-- main col right -->
                  <div class="col-sm-11">

                       <div class="panel panel-default">
                         <div class="panel-heading"> <span id="profile"> <b>{{ user.username }}</b> </span>, good to see you again!</div>
                          <div class="panel-body">
                            <p><b>First Name: </b>{{ user.first_name }}</p>
                            <p><b>Last Name:</b> {{ user.last_name }}</p>
                            <p><b>Email: </b> {{ user.email }}</p>
                            <div class="clearfix"></div>
                            <hr>
                            <p>Registered at: {{ user.date_joined }}</p>
                            <p>Last log-in at: {{ user.last_login }}</p>

                          </div>
                       </div>
                  </div>
                </div>
            </div>
        </div>

    </div>

{% endblock content %}
